
body{
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  width: 10%;
  margin: 0 auto;
  color: #6886c5;
}

h2{
  font-size: normal;
  color: #6886c5;
}

h3{
  color: #4cd3c2;
}

p {
  font-size: 1em;
}

td{
  width: 30%;
  height: 30%;
  }

.top{
  background-color: #cff1ef;
  position: relative;
  padding-top: 100px;
}

.midle{
background-color: #fffdf9;

}

.bottom{
  background-color: #ecfbfc;

}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;

}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-pic {
  border-radius:15%;
  width: 15% ;
  height: 15%;
}

.network{
  width: 35%;
  float: right;
}

.programming{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.operating{
  width: 35%;
  float: right;
}

.linux  {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
